<ng-container *ngIf="artikel">
  <button class="btn btn-warning" [routerLink]="['/artikelEdit', artikel.id]" >Bearbeiten</button>
  <article>
    <h2>
      <a href="#">
        {{ artikel?.ueberschrift }}
      </a>
    </h2>
    <p>
      {{ artikel?.datum }}
      Uhr von
      {{ artikel?.autor }}
    </p>
    <p>
      <b>
        {{ artikel?.anriss }}
      </b>
    </p>
    <p>{{ artikel?.text }}</p>
    <img src="{{ artikel?.bild }}" />
    <span *ngFor="let tag of artikel?.tags">
      <a class="badge badge-pill badge-primary mr-1" href="tagliste.html">
        {{ tag }}
      </a>
    </span>
  </article>
</ng-container>

<ng-container *ngIf="artikelNotGefunden">
    <p class="text-danger border rounded p-4">Artikel kann nicht gefunden werden !!!</p>
</ng-container>
