<!-- Hauptteil -->
<div class="container">
  <div class="row">
    <!-- Breite 3/4 (9/12) -->
    <main id="inhalt" class="col-12 col-md-9">
      <a class="btn btn-primary" href="artikelNeu.html"
        >Neuen Artikel erstellen</a
      >
      <hr />
      <router-outlet></router-outlet>
    </main>
    <!-- Breite 1/4 (3/12) -->
    <aside id="sidebar" class="col-12 col-md-3 mt-5">
        <app-sidebar [artikels]="artikels"></app-sidebar>
    </aside>
  </div>
  <!-- row -->
</div>
<!-- container -->
