<label for="login" class="col-6">Login</label>
<input class="col-6" id="login" name="login" type="text" size="12" /><br />
<label for="password" class="col-6">Passwort</label>
<input
  class="col-6"
  id="password"
  name="password"
  type="text"
  size="12"
/><br />
<div class="col-12">
  <a class="btn btn-outline-primary btn-sm" href="#">Login</a>
</div>

<hr class="col-12" />
<div class="col-12 input-group input-group-sm pr-0">
  <input
    id="searchquery"
    name="searchquery"
    type="text"
    class="form-control"
    aria-label="Suchen"
  />
  <div class="input-group-append">
    <span id="searchBtn" class="btn btn-outline-primary" (click)="sucheStarten()">Suchen</span>
  </div>
</div>

<hr class="col-12" />
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <a href="monatsliste.html">November 2017 (3)</a>
  </li>
  <li class="list-group-item">
    <a href="monatsliste.html">Dezember 2017 (1)</a>
  </li>
  <li class="list-group-item"><a href="monatsliste.html">März 2018 (2)</a></li>
  <li class="list-group-item"><a href="monatsliste.html">April 2018 (1)</a></li>
</ul>

<hr class="col-12"><div class="col-12">
    <div>
        <span *ngFor="let tag of TagMap | keyvalue">
            <a class="mr-1 tag-{{tag.value}}" href="tagliste.html">{{tag.key}}</a>
           
        </span>
    </div>
</div>
